######################
# Compiled Files
######################
*.exe
*.out
*.o
*.obj
*.class
*.dll
*.so
*.jar

######################
# Python
######################
__pycache__/
*.pyc
*.pyo

######################
# Java
######################
*.class
*.log

######################
# C / C++
######################
*.dSYM/
*.stackdump

######################
# VS Code
######################
.vscode/
*.code-workspace

######################
# Backup / Temporary
######################
*.tmp
*.temp
*.swp

######################
# OS Junk
######################
.DS_Store
Thumbs.db
